block vars
  - var bodyClass = "docs-page"

mixin renderDep(obj, first)
  if (first && !obj.deps.length)
    p (none)
  else 
    ul
      each dep in obj.deps
        li
          a(href='#' + dep.data.name)= dep.data.name
          if (dep.deps.length)
            +renderDep(dep)
        

extends templates/layout

block content

  .docs.cf
    nav.nav-docs
      a.logo.logo-ampersand(href="/")
      a.section-top(href='#intro') Introduction
      a.section-top.external(href='http://ampersandjs.com') Ampersand.js
      a.section-top.external(href='https://github.com/ampersandjs/amp') GitHub Project
      a.section-top.external(href='https://github.com/ampersandjs/amp/issues') Bugs
      a.section-top.external(href='#sizes') Filesizes
      - var lastCategory;
      for module, key in globals[0].packages
        - if (lastCategory !== module.category)
          - lastCategory = module.category
          a.section-top(href= '#')= module.category
        a.section-sub(href= '#' + module.name)!= module.name

    .docs-content
      section
        a.anchor(name= "intro", href= '#intro')
          h1
            span.header-link
            | Amp &mdash; utility functions as individual npm modules
        
        p <strong>WARNING: not yet published, not ready for use</strong>

        p This page is the consolidated reference for all the amp modules in a single page for the sake of being 'cmd+f' friendly.

        p All modules are unit tested in a wide range of browsers (including IE6+) with a CI system composed of <a href="https://saucelabs.com">SauceLabs</a> and <a href="https://travis-ci.org/AmpersandJS/amp">Travis CI</a> by using <a href="https://www.npmjs.org/package/zuul">zuul</a> and <a href="https://www.npmjs.org/package/tape">tape</a>.

        p Project goals:

        ul
          li Excellent, cross-browser test coverage
          li Independently maintained and versioned
          li Strict semver for versioning
          li Try like crazy to maintain APIs from <code>1.x.x</code> versions
          li Try to consider the published versions "done" code
          li Provide easy to remember names (by using namespacing)
          li Minimize unneeded interdependencies.

      section
        a.anchor(name= 'sizes', href= '#sizes')
          h2 
            span.header-link
            | How filesizes are calculated

        p To give you a rough idea of what impact a given module will have on a browserify bundle's filesize we calculate it as follows:

        pre
          |  
          |    amp module (browserified, min + gzip)
          |  - empty file (browserified, min + gzip)
          | ----------------------------------------
          |       estimated weight added to your app

        p However, this is still a flawed estimate since if you use multiple amp modules, the actual de-duped size will be even small since they likely share dependencies.

      for module, key in globals[0].packages
        section.module
          a.anchor(name= module.name, href= '#' + module.name)
            h1
              span.header-link
              | #{module.name}
          small= 'v' + module.pack.version
          a(href='https://www.npmjs.org/package/#{module.name}') npm
          a(href='https://github.com/ampersand/amp/tree/master/#{module.bareName}') github

          div
            h3 Docs

            div!= module.docHtml

            h3 Example Usage
            pre
              code.lang-javascript.hljs= module.exampleCode
            
            .code
              button.toggle Show the code
              pre(style='display: none')
                code.lang-javascript.hljs= module.code

            .tests
              button.toggle Show the tests
              pre(style='display: none')
                code.lang-javascript.hljs= module.test 
            
            h3 Estimated bundle size increase

            p 
              a(href='#sizes') ~#{module.pack.amp.size.minified} (details)

            h4 Dependencies

            div(style='display: none')
              +renderDep(module.dependencyTree, true)
            
            div.dependency-list
              ul
                for dep, key in module.dependencyList
                  li
                    a(href='#' + dep.name)= dep.name


          div!= module.html

  script(src="/documentation/public/js/setup.js")
