mixin renderDep(obj, first)
  if (first && !obj.deps.length)
    p (none)
  else 
    ul
      each dep in obj.deps
        li
          a(href='#' + dep.data.name)= dep.data.name
          if (dep.deps.length)
            +renderDep(dep)
        

extends templates/layout

block content

  .docs.cf
    nav.nav-docs
      a.logo.logo-ampersand(href="/")
      a.section-top(href= '#intro') Introduction
      a.section-top(href= '#') Modules
      for module, key in globals[0].packages
        a.section-sub(href= '#' + module.name)!= module.name

    .docs-content
      section
        a.anchor(name= "intro", href= '#intro')
          h1
            span.header-link
            | Amp &mdash; utility functions as individual npm modules
        
        p <strong>WARNING: not yet published, not ready for use</strong>

        p <strong>The merits of this idea are still being discussed</strong>

        p This page is the consolidated reference for all the amp modules in a single page for the sake of being 'cmd+f' friendly.

        p All modules are unit tested in a wide range of browsers (including IE6+) with a CI system composed of <a href="https://saucelabs.com">SauceLabs</a> and <a href="https://travis-ci.org/AmpersandJS/amp">Travis CI</a> by using <a href="https://www.npmjs.org/package/zuul">zuul</a> and <a href="https://www.npmjs.org/package/tape">tape</a>.

        p Project goals:

        ul
          li Independently maintained and versioned
          li Strict semver for versioning
          li Try like crazy to maintain APIs from <code>1.x.x</code> versions
          li Provide easy to remember names (by using namespacing)
          li Minimize unneeded interdependencies.

      for module, key in globals[0].packages
        section.module
          a.anchor(name= module.name, href= '#' + module.name)
            h1
              span.header-link
              | #{module.name}
          small= 'v' + module.pack.version
          a(href='https://www.npmjs.org/package/#{module.name}') npm
          a(href='https://github.com/ampersand/amp/tree/master/#{module.bareName}') github
            
          div
            h3 Docs

            div!= module.docHtml

            h3 Example Usage
            pre
              code.lang-javascript.hljs= module.exampleCode
            
            .code
              button.toggle Show the code
              pre(style='display: none')
                code.lang-javascript.hljs= module.code

            .tests
              button.toggle Show the tests
              pre(style='display: none')
                code.lang-javascript.hljs= module.test 
            
            h4 Uses

            +renderDep(module.dependencyTree, true)

          div!= module.html

  script(src="/amp/documentation/public/js/setup.js")
